version: "3.8"
services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
      - SECRET_KEY=dev-secret
      - JWT_SECRET_KEY=jwt-secret
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
      - DATABASE_ECHO=False
    depends_on:
      - db
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
